*{
	box-sizing:border-box;
}
button:hover
{
	cursor:pointer;
}

html,body
{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
body{
	background-color:lightgrey;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

#sheet-view{
	position:relative;
	background-color:white;
	border: 2px rgba(0,0,0,.2) solid;
	height:auto;
	display:flex;
}
.sheet{
	position:absolute;
	top:0;
	left:0;
}

.keyframe-set-label,.keyframes
{
	display:inline-block;
}

#keyframe-set-view
{
	background-color:silver;
	overflow-y:scroll;
	width:100%;
}
.keyframe-set
{
	border:1px solid black;
}


.keyframe
{
	position:relative;
	background-color:darkgrey;
	border-left:1px solid black;
	border-right:1px solid black;
	display:inline-block;
	user-select:none;
}

.keyframe-side
{
	display:inline-block;
	position:absolute;
	color:red;
	height:100%;
	width:10%;
	top:0;
	right:0;
}
.keyframe-right-side
{
	right:0;
}
.keyframe-left-side
{
	left:0;
}
.keyframe-right-side:hover
{
	cursor: ew-resize;
}

.keyframe-set-actions 
{
	display:inline-block;
}
.keyframe-set-actions button
{
	display:inline-block;
	padding:0;
	margin:0;
	background-color:transparent;
}

#timeline
{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:end;
}

#timeline-bottombar
{
	width:100%;
	background-color:#666;
}
#timeline-bottombar button
{
	background-color:#ccc;
	border:none;
}

.active
{
	background-color:lightblue;
}
